
	<section class="flex flex-col gap-20 h-lvh bg-gradient-to-t from-[#108170] to-[#5A9D8D] w-20 p-5">
		<a href="/inventory/user-dashboard/">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pikpng.com%2Fpngl%2Fb%2F442-4425495_list-three-line-icon-png-clipart.png&f=1&nofb=1&ipt=21088993cbb3a3720fe86f8cb08750d756bcb262bf14c0d1031bfefa73c25c29&ipo=images" alt="list inventory icon">
		</a>
		<a href="#">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Fbusiness-programming%2F512%2Fdatabase-1024.png&f=1&nofb=1&ipt=11500a70fd322e0c93f2208302b589fde837cfb9935a642bb1f8d34c0e1680ff&ipo=images" alt="recover icon">
		</a>
	</section>
